*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    margin-left:25px;
    margin-top:25px;
    margin-right:35px;
    
}
th{
    background-color:#ada2ff;
    padding-top: 10px;
    padding-left: 25px;
    padding-right:25px;
    padding-bottom:10px;
    
}