/* [ Fonts ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}



/* [ Header ] */
.container-menu {
  height: auto;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* [ Top bar ] */
.top-bar {
  height: 40px;
  background-color: #222;
}

.left-top-bar {
  font-family: Poppins-Regular;
  font-size: 12px;
  line-height: 1.8;
  color: #b2b2b2;
}

.right-top-bar a {
  font-family: Poppins-Regular;
  font-size: 12px;
  line-height: 1.8;
  text-decoration: none;

  height: 100%;
  color: #b2b2b2;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.right-top-bar a:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.right-top-bar a:hover {
  color: #6c7ae0;
}

#account{
  width:200px; 
  text-align: center;
}

/*[  Drop down Menu ]*/
.drop-down-menu{
  position: relative;
  display: inline-block;
}

.drop-down-menu a:visited{
  color: #6c7ae0;
}

.dropdown-menu img {
  display:flex;
  justify-content:center;
  position: center;
  display: black;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.dropdown-menu h6{
  text-align: center;
  font-family: Poppins-Regular;
}

.dropdown-menu p{
  text-align: center;
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #717fe0;
}

.dropdown-menu a{
  font-size: 14px;
}

/*[ Menu ]*/
.wrap-menu {
  position: fixed;
  z-index: 1100;
  background-color: transparent;
  width: 100%;
  height: 84px;
  top: 40px;
  left: 0px;

  -webkit-transition: height 0.3s, background-color 0.3s;
  -o-transition: height 0.3s, background-color 0.3s;
  -moz-transition: height 0.3s, background-color 0.3s;
  transition: height 0.3s, background-color 0.3s;
}

.limiter-menu {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100%;
}

.main-menu {
  list-style-type: none;
  margin: 0;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.main-menu > li {
  display: block;
  position: relative;
  padding: 20px 10px 20px 0px;
  margin: 0px 4px 0px 14px;
}

.main-menu > li > a {
  font-family: Poppins-Medium;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  padding: 5px 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.main-menu > li:hover > a {
  color: #6c7ae0;
}

.main-menu > li.active > a {
  color: #6c7ae0;
}

/* [ Fixed menu ] */

.fix-menu .wrap-menu {
  height: 70px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.how-shadow1 {
box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
-webkit-box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
-o-box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
-ms-box-shadow: 0 0px 3px 0px rgba(0,0,0,0.2);
}


.bread-crumb a{
text-decoration: none;
}

/* [ Block1 ] */
.block1 {
  position: relative;
  border: 1px solid #e6e6e6;
  display: block;

}

.block1 img {
  width: 100%;
}

.hov-img0 {
  display: block;
  overflow: hidden;
}

.hov-img0 img {
  width: 100%;
  -webkit-transition: transform 0.9s ease;
  -o-transition: transform 0.9s ease;
  -moz-transition: transform 0.9s ease;
  transition: transform 0.9s ease;
}

.hov-img0:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.block1-txt {
  background-color: rgba(103, 117, 214, 0.0);
  text-decoration: none;
}

.block1-name {
  color: #333;
}

.block1-info {
  color: #555;
}


.block1-txt-child2 {
  border-bottom: 2px solid #fff;
  overflow: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}

.block1-link {
  -webkit-transform: translateY(250%);
  -moz-transform: translateY(250%);
  -ms-transform: translateY(250%);
  -o-transform: translateY(250%);
  transform: translateY(250%);
}

.block1-txt:hover .block1-txt-child2 {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.block1-txt:hover .block1-link {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

/* [ Block2 ] */

.block2-pic {
  position: relative;
}

.isotope-item .block2-pic{
  height: 250px !important;
}

.block2-btn {
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-decoration: none;
  background-color: black;
}

.block2-pic:hover .block2-btn {
  bottom: 20px;
}

.hov-img1 {
  display: block;
  overflow: hidden;
}

.hov-img1 img{
  width: 100%;
  -webkit-transition: transform 0.9s ease;
  -o-transition: transform 0.9s ease;
  -moz-transition: transform 0.9s ease;
  transition: transform 0.9s ease;
}

.block2-txt-child1 {
  width: calc(100% - 30px);
}

.block2-txt-child2 {
  width: 30px;
}
.block2-txt a{
  text-decoration: none;
}

  /* [ Deal of the week ] */
.deal_of_the_week{
  width: 100%;
  background: #f2f2f2;
}

.deal-pic{
  height: 540px;
  padding-right: 10px;
}

.deal-pic img{
  height: 100%;
}

.section-title::after{
  display: block;
  position: absolute;
  top: calc(100%+13px);
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 5px;
}

/* [ Timer ]*/
.timer{
  margin-top: 66px;
}

.timer li{
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #ffffff;
    margin-right: 10px;
} 

.timer-num{
  font-family: Poppins-Medium;
  font-size: 48px;
  font-weight: 600;
  margin-top: 10px;

}

.timer-unit{
  font-family: Poppins-Regular;
  font-size: 16px;
  font-weight: 500;
  color: #51545f; 
}

/* [ Newsletter ]*/
.newsletter{
  width: 100%;
  background: #f2f2f2;
  margin-top: 81px;
}

.newsletter-text{
  height: 120px;

}

.newsletter-text h4{
  font-family: Poppins-Regular;
  margin-bottom: 0px;
  line-height: 24px;
}

.newsletter-text p{
  font-family: Poppins-Regular;
  margin-bottom: 0px;
  line-height: 1.7;
}

.newsletter-form{
  height: 120px;
}

#newsletter-email{
    width: 300px;
    height: 46px;
    background: #ffffff;
    border: none;
    padding-left: 20px;
}

#newsletter-email:focus{
  border:solid 1px #7f7f7f !important;
  box-shadow: none !important;
}

:focus{
  outline: none !important;
}

#newsletter-email::-webkit-input-placeholder{
  font-size: 14px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}

#newsletter-email::input-placeholder{
  font-size: 14px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}

.newsletter_submit{
  width: 160px;
  height: 46px;
  border:none;
  background:#717fe0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.newsletter_submit:hover{
  border-color: #222;
  background-color: #222; 
}
  /* [ Hover ]*/
.hov1:hover {
  color: #333;
  border-color: #797979;
}

.hov-btn1:hover {
  border-color: #222;
  background-color: #222;
  color: #fff;
}

.hov-btn1:hover i {
  color: #fff;
}

.hov-btn2:hover {
  border-color: #717fe0;
  background-color: #717fe0;
  color: #fff;
}

  /*[ Border ]*/

.bor0 {border-radius: 50%;}

.bor1 {
  border-radius: 23px;
}

.bor2 {
  border-radius: 20px;
}

.bor3 {
  border-bottom: 1px solid transparent;
}

/*[ Button ]*/
button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.how-active1 {
  color: #333;
  border-color: #797979;
}

.deal-btn{
  text-decoration: none;
}

/*[ Logo ]*/
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 65%;
  margin-right: 55px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

/*[ Icon header ]*/

.wrap-icon-header {
  flex-grow: 1;
}

.icon-header-item {
  position: relative;
  font-size: 26px;
  line-height: 1;
  cursor: pointer;
}
.icon-header-item a {
color:#333;
}

.icon-header-item a:hover {
color:#717fe0;
}

#icon-active{
color:#717fe0;
}

/* [ Font Colors ] */
.cl0 {color: #fff;}
.cl1 {color: #717fe0;}
.cl2 {color: #333;}
.cl3 {color: #666;}
.cl4 {color: #999;}
.cl5 {color: #222;}
.cl6 {color: #888;}
.cl7 {color: #b2b2b2;}
.cl8 {color: #555;}

/* [ Background Colors ] */
.bg0 {background-color: #fff;}
.bg1 {background-color: #717fe0;}
.bg2 {background-color: #e6e6e6;}
.bg3 {background-color: #000000;}

/* [ Hover ] */
.hov-cl0:hover {color: #fff;}
.hov-cl1:hover {color: #717fe0;}

.btn-addwish-b2 .icon-heart2 {
  opacity: 0;
}

.btn-addwish-b2:hover .icon-heart2 {
  opacity: 1;
}

.btn-addwish-b2:hover .icon-heart1 {
  opacity: 0;
}

/* [ Responsive ] */
.respon3 {
  padding: 20px;
}

/* [ Text ] */
.ltext-102 {
  font-family: Poppins-Bold;
  color: white;
  font-size: 28px;
  line-height: 1.1;
}

.ltext-103 {
  font-family: Poppins-Bold;
  font-size: 36px;
  line-height: 1.1;
  text-transform: uppercase;
}

.stext-101 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.466667;
  text-transform: uppercase;
}

.stext-102 {
  font-family: Poppins-Regular;
  color: white;
  font-size: 14px;
  line-height: 1.7;
}

.stext-103 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.466667;
}

.stext-104 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.466667;
}

.stext-105 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.466667;
  letter-spacing: 1px;
}

.stext-106 {
font-family: Poppins-Regular;
font-size: 15px;
line-height: 1.2;
}

.stext-109 {
  font-family: Poppins-Regular;
  font-size: 12px;
  line-height: 1.833333;
}

/* [ Size ]*/

.size-102 {
  min-width: 139px;
  height: 40px;
}
