/* Utility */

.h-full {
    height: 100%;
}

.s-full {
    width: 100%;
    height: 100%;
}


/* [ Display ]*/
.dis-none {display: none;}
.dis-block {display: block;}
.dis-inline {display: inline;}
.dis-inline-block {display: inline-block;}

/* [ Position ] */
.pos-relative {position: relative;}
.pos-absolute {position: absolute;}
.pos-fixed {position: fixed;}

/* [ Flex Display ] */
.flex-w,
.flex-sb-m,
.flex-c-m,
.flex-r-m,
.flex-col-l,
.flex-col-l-sb,
.flex-l-m,
.flex-c-m,
.flex-t,
.flex-r,
.flex-col-m,
.flex-col-l-m{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-col-l,
.flex-col-l-sb,
.flex-col-m,
.flex-col-l-m{
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

/* [ Flex ] */
.flex-sb-m {
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.flex-w {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-c-m {
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.flex-r-m {
    justify-content: flex-end;
    -ms-align-items: center;
    align-items: center;
}

.flex-col-l {
    -ms-align-items: flex-start;
    align-items: flex-start;
}

.flex-col-l-sb {
    justify-content: space-between;
    -ms-align-items: center;
    align-items: flex-start;
}

.flex-l-m {
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
}

.flex-c-m {
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.flex-t {
	-ms-align-items: flex-start;
	align-items: flex-start;
}

.flex-r {
	justify-content: flex-end;
}

.flex-col-m {
	justify-content: center;
}

.flex-col-l-m {
	-ms-align-items: flex-start;
	align-items: flex-start;
	justify-content: center;
}

/* [ Transition ] */

.trans-03 {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.trans-04 {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.trans-05 {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/* [ Float ]*/
.float-l {float: left;}
.float-r {float: right;}


/* [ Text Align ]*/
.txt-center {text-align: center;}
.txt-left {text-align: left;}
.txt-right {text-align: right;}
.txt-middle {vertical-align: middle;}


/* [ Padding ] */

.p-all-0{
    padding-right:0;
    padding-left:0;
    padding-top: 0;
    padding-bottom: 0;
}
.p-lr-15{
    padding-left: 15px;
    padding-right: 15px;
}

.p-lr-25{
    padding-left: 25px;
    padding-right: 25px;
}

.p-lr-38 {
    padding-left: 38px;
    padding-right: 38px;
}

.p-tb-34 {
    padding: top 34px;
    padding-bottom: 34px;
}

.p-l-22{padding-left: 22px;}
.p-l-25{padding-left: 25px;}
.p-l-50{padding-left: 50px;}
.p-l-60{padding-left: 60px;}
.p-l-130{padding-left: 130px;}

.p-r-11{padding-right: 11px;}
.p-r-15{padding-right: 15px;}

.p-b-30 {
    padding-bottom: 30px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.p-t-30{padding-top: 30px;}
.p-t-80{padding-top: 80px;}
.p-t-100{padding-top: 100px;}
.p-t-130{padding-top: 130px;}
.p-t-145{padding-top: 145px;}
.p-t-23{padding-top: 23px;}
.p-t-14{padding-top: 14px;}
.p-t-10{padding-top: 10px;}
.p-t-3{padding-top: 3px;}

.p-b-0 {padding-bottom: 0px !important}
.p-b-6 {padding-bottom: 6px;}
.p-b-8 {padding-bottom: 8px;}
.p-b-20{padding-bottom: 20px;}
.p-b-30{padding-bottom: 30px;}
.p-b-50 {padding-bottom: 50px;}
.p-b-52 {padding-bottom: 52px;}
.p-b-4{padding-bottom: 4px;}
.p-b-140{padding-bottom: 140px;}
.p-b-35{padding-bottom: 35px;}

/* [ Absolute ] */
.ab-t-l {
    position: absolute;
    left: 0px;
    top: 0px;
}

/* [ Margin ] */
.m-tb-10 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.m-tb-05 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.m-b-8{margin-bottom: 8px;}

.m-r-6{margin-right: 6px;}
.m-r-10{margin-right: 10px;}
.m-r-32{margin-right: 32px;}


.m-l-0{margin-left: 0px;}
.m-l-9{margin-left: 9px;}
.m-l-32{margin-left: 32px;}